A:link {
	COLOR: #330099; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #11066c; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #9b1e43; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:active {
	COLOR: #330099; TEXT-DECORATION: underline
}
TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
TH {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
.nav {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.rtnav {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.rtnav A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #08046b; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.rtnav A:visited {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #1a06a2; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.rtnav A:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #816416; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.rtnav A:active {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #08046b; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.blunav {
	BACKGROUND-IMAGE: url(/images/bg_nav-bar.gif); BACKGROUND-COLOR: #08046b; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.blunav A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.blunav A:visited {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.blunav A:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #efdfa5; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.blunav A:active {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.nav-ttl {
	COLOR: #757575; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.quick-ttl {
	COLOR: #757575; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.nav-pic {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #10046b; FONT-SIZE: 11px
}
.points {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
.points A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #08046b; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.points A:visited {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #1a06a2; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.points A:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #816416; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.points A:active {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #08046b; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.havaheading {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #08046b; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.havaheading A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.havaheading A:visited {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.havaheading A:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.havaheading A:active {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.attention {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.attention A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.attention A:visited {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.attention A:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.attention A:active {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.attention_bold {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.attention_bold A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.attention_bold A:visited {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.attention_bold A:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.attention_bold A:active {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
H1 {
	COLOR: #10046b; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
H2 {
	FONT-STYLE: normal; COLOR: #10046b; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.dropdown {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Verdana; COLOR: #000000; FONT-SIZE: 10px
}
.dropdown_hp {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Verdana; COLOR: #000000; FONT-SIZE: 10px
}
H3 {
	COLOR: #10046b; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.impaired {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16px
}
.motto {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Georgia; COLOR: #10046b; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.updated {
	FONT-FAMILY: Verdana; COLOR: #666666; FONT-SIZE: 80%
}
.prsubheading_bold {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #999999; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.havaheading_white {
	BACKGROUND-COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.lawsheading_grey {
	BACKGROUND-COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.lawsheading_gold {
	BACKGROUND-COLOR: #efdba5; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
